body{
	background: #161414;
	overflow-x: hidden;
	margin: 0px auto;
	width: 100%;
	min-width: 320px;
	max-width: 1920px;
}

.headwrapper{
	position: relative;
	z-index: 10;
}

.navbar{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 1em 0em;

	width: 100%;
}

.navbar-logo{
	height: 64px;
	margin: 0em 0em 0em 1em;
}

.nav{
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03)), #161414;
	border-bottom: 2px solid #E8A138;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	padding: 8px 0px;
	margin: 0px auto;

	list-style: none;
	width: inherit;

	/* Inside auto layout */

	flex: none;
	order: 2;
	flex-grow: 0;
}

.nav-end{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin: 0 1em 0 0;
	gap: 16px;

	/*height: 32px;*/

	flex: none;
	order: 1;
	flex-grow: 0;
}

.nav-item{
	font: normal normal 700 1em/150% Inter;
	font-feature-settings: 'calt' off;
	letter-spacing: -0.01em;
	text-align: center;
}

.nav-item-text{	padding: 0.5em 1em;}

.nav-item-active{
	padding: 0px 0px 8px 0px;
	border-bottom: 2px solid #EABD7B;
}

.nav-link{
	text-decoration: none;
	color: #EABD7B;
}

.hero-icon-img{	width: 1.5em;}
.hero-container{max-width: 1920px;}

.hero-wrapper{
	position: absolute;
	top: 0em;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.hero{
	background: url(images/hero-background4.png);
	background-position: center;
	border-bottom: 2px solid #EABD7B;
	position: relative;
}

.hero-text{
	margin: 0 auto;
	max-width: 700px;
	padding: 15em 0px;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 1;

	display: flex;
	flex-direction: column;
	gap: 1em;

}

.hero-heading{
	font: normal normal 700 2em/110% Merriweather;
	color: #FFFFFF;
	margin: 0px;

	flex: none;
	order: 0;
	flex-grow: 0;	
}

.hero-body{
	font: normal normal 500 1em/110% Merriweather;
	color: #FFFFFF;	
	margin: 0px;

	flex: none;
	order: 1;
	flex-grow: 0;
}

/*FORMS-------------------------------------------------------------------*/

.product-search-form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px 0px;
	gap: 40px;
	margin: 0px auto;

	width: 80%;
}

.form-text-container{
	font: normal normal 700 1.5em/100% Merriweather;
	text-align: center;
	color: #EABD7B;
	margin: 0;

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

.search-input{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1em;

	width: 100%;
	max-width: 960px;
}

.input-box{
	box-sizing: border-box;
	background: none;

	align-items: center;
	padding: 12px 20px;
	gap: 8px;

	height: 40px;

	border: 2px solid #EABD7B;
	border-radius: 6px;

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 1;
}
.input-box:focus-visible {
    outline: #EABD7B 1px;
}
.input-box[type="text" i] {color: #EABD7B;}
.input-box[type="email" i] {color: #EABD7B;}
.input-box::-webkit-input-placeholder {
  color: rgba(234, 189, 123, 0.5);
}

#sub-btn{
	cursor: pointer;
	box-sizing: border-box;
	padding: 0px 2em;

	height: 40px;

	border: 2px solid #EABD7B;
	border-radius: 6px;
	background: none;

	/*Text*/
	font: normal normal normal 1em/150% Inter;
	letter-spacing: -0.01em;
	color: #EABD7B;
}

/*CARD SECTIONS-------------------------------------------------------------------*/

.card-section {
	background: #805F45;
	width: 100%;
	max-width: 1920px;
	border-top: 2px solid #E8A138;
	border-bottom: 2px solid #E8A138;
	padding: 2em 0px 4em 0em;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2em;
}

#cs-heading{
	font: normal normal 700 1.5em/125% Merriweather;
	text-transform: uppercase;
	color: #161414;
	order: 0;
}

.btn-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
	align-items: flex-start;
	justify-content: center;
	padding: 0px 1em;
	gap: 3em;
	order: 1;
}

.topthree-btn{
	box-sizing: border-box;
	background: none;
	color: #EABD7B;

	width: 12em;

	/* btn text*/
	font: normal normal 700 1em/150% Inter;
	letter-spacing: 0.05em;
	padding: 12px 0px;

	border: 3px solid #EABD7B;
	border-radius: 6px;
}

.topthree-btn-active{
	background: #EABD7B;
	color: #422B09;

	/* btn text*/
	font: normal normal 700 1em/150% Inter;
	letter-spacing: 0.05em;
	padding: 12px 0px;

	border: 3px solid #422B09;
	border-radius: 6px;
}

.card-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 3em;
	width: 90%;
	flex: none;
}
#t3-card-container{order: 2;}

.card{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;

	width: 90%;
	max-width: 346px;
	height: 352px;

	border-radius: 10px;
	padding: 0px;
}

.t3-card{
	gap: 10px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


#t3-1 {background: url(images/t3-card-1.jpg);}

#t3-2 {background: url(images/t3-card-2.jpg);}

#t3-3 {background: url(images/t3-card-3.jpg);}

.t3-card-text-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;

	width: 100%;
	max-width: 346px;
	height: 77px;

	background: linear-gradient(180deg, rgba(0, 0, 0, 0) -41.27%, rgba(0, 0, 0, 0.94) 100%);
	border-radius: 0 0 10px 10px;
}

.t3-card-text{
	font: normal normal 800 20px/110% Inter;
	margin: 0px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #EABD7B;
}

/*IMAGE SECTIONS-------------------------------------------------------------------*/

.image-section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 8em 0px;
	gap: 5em;

	max-width: 1920px;
	color: #EABD7B;
	background-position: center;
}

#about-us{
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(images/about-us-bg.jpg);
}

#our-process{
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(images/our-process-bg.jpg);
}

#how-to-order{
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(images/how-to-order-bg.jpg);
	border-bottom: 2px solid #E8A138;
}

.img-sec-heading{font: normal normal 700 3em/125% Merriweather;}

.img-sec-body{
	font: normal normal 400 1.5em/125% Inter;
	text-align: center;
	width: 80%;
	max-width: 879px;
}

.hto-heading-container{text-align: center;}

#hto-sub-heading{
	font: normal normal 600 20px/125% Inter;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

/*OUR COLLECTION CARDS-------------------------------------------------------------------*/

.oc-card{
	justify-content: center;

	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 10px;
}

#oc-1 {background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
	url(images/oc-card-1.jpg);}
#oc-2 {background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
	url(images/oc-card-2.jpg);}
#oc-3 {background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
	url(images/oc-card-3.jpg);}

.oc-text{
	font: normal normal 700 3em/110% Merriweather;
	text-align: center;
	letter-spacing: 0.1em;
	color: #FFFFFF;
}

.card-next{
	width: 50px;
	height: 92px;
	background: #161414;

	display: flex;
	justify-content: center;
	align-items: center;
}

.card-container-oc{
	display: flex;
	flex-direction: row;
	align-items: center;
}

#oc-next{order:0;}
#oc-cards{order: 1;}
#oc-previous{order: 2;}



.review-card{
	justify-content: center;
	gap: 10px;

	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 10px;

	background: rgba(234, 189, 123, 0.55);
	color: white;
}

.feedback-text{
	width: 90%;
	font: normal normal 400 1em/110% Inter;
	text-align: center;
}

.review-author{font: normal normal 700 1em/150% Inter;}

/*FOOTER-------------------------------------------------------------------*/

.page-footer{
	width: 100%;
	max-width: 1920px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 4em 0em;
	gap: 4em;

	background: #805F45;
	border-top: 2px solid #E8A138;
}

.footer-link-container{
	padding: 0px 2em;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	gap: 6em;
}

.footer-container{ 
	display: flex;
	flex-direction: column;

	align-items: flex-start;
	gap: 10px;
}

.footer-heading{
	font: normal normal 900 1.25em/125% Merriweather;
	color: #161414;
}


.footer-handle-image{
	width: 24px;
	height: 24px;
}

.footer-link{
	display: flex;
	flex-direction: row;
	gap:1em;
	justify-content: center;
	align-items: flex-start;

	font: normal normal 600 1em/150% Inter;
	text-decoration: none;
	color: #161414;
}

.footer-logo-container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#footer-logo{
	height: 96px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#footer-logo-text{
	font: normal normal 700 1em/150% Inter;
	letter-spacing: -0.01em;
	color: #EABD7B;
}

/*MEDIA-------------------------------------------------------------------*/

@media only screen and (max-width: 480px){
	.card-container{
		flex-direction: column;
	}

	.nav{
		margin: 0px auto;
	}
}


@media only screen and (max-width: 520px){
	.nav-item-text{
		font-size: 0.7em;
	}

	.img-sec-body{
		font-size: 1em;
	}
}


@media only screen and (max-width: 863px){
	.navbar-logo{height: 48px;}
	.hero-icon-img{	width: 1em;}

	.topthree-btn{width: 8em;}

	.footer-heading{font-size: 1em;}
	#footer-logo{height: 64px;}
}

@media only screen and (max-width: 480px){
	.navbar-logo{height: 32px;}

	.topthree-btn{width: 7em;}

	#sub-btn{padding: 0em 1em;}

	..footer-link-container{gap:4em;}
	.footer-link{font-size: 12px;}
	.footer-heading{font-size: 16px;}
	#footer-logo{height: 48px;}
	#footer-logo-text{font-size: 0.7em;}
}

@media only screen and (max-width: 348px){
	.nav-item-text{font-size: 0.5em;}
	#sub-btn{padding: 0em 0.5em;}
}
